.slick-slider {
    top: 50%;
    transform: translate(0, -55%);
}

.slick-list {
    padding-top: 90px !important;
    padding-bottom: 10px !important;
}

.slick-arrow {
    display: none !important;
}